<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Slotstats</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav">
  <mat-sidenav mode="side" [(opened)]="opened">
    <div class="sidenav-link" routerLink="/slots" (click)="navClick($event)">Slots</div>
    <div class="sidenav-link" routerLink="/bonus-hunt" (click)="navClick($event)">Bonus Hunt</div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

