@import '../../styles';

.mat-toolbar {
  background-color: $color-dark-teal;

  span {
    margin-left: 15px;
  }
}

.mat-sidenav-content {
  padding: 1rem;
}

.mat-sidenav {
  min-width: 250px;
  background-color: $color-dark-grey;
}

.sidenav {
  position: relative;
  height: 100%;
  display: block;
  transform: inherit;
  min-width: 300px;
  background-color: $color-darkest-grey;

  .sidenav-link {
    width: 100%;
    padding: 20px 40px;
    font-size: 20px;
    transition: all .2s ease;

    &:hover {
      background-color: $color-lighter-grey;
      color: $color-dark-grey;
      cursor: pointer;
    }
  }
}



@media screen and (max-width: 500px) {
  .mat-sidenav-content {
    padding: 20px 0;
  }
}
