<!--<div class="slot-list">
  <table class="table">
    <thead>
      <td>Slot</td>
      <td>Einsatz</td>
      <td>Max. Win €</td>
      <td>Max. X</td>
    </thead>
    <tbody>
    <ng-container *ngFor="let slot of slots | async">
      <tr>
        <td>{{ slot.name }}</td>
        <td>{{ slot.bet }} €</td>
        <td>{{ slot.maxWin }} €</td>
        <td>{{ slot.maxMultiplier }}x</td>
        <td><button (click)="delete(slot.id)">müll</button></td>
      </tr>
    </ng-container>
    <tr>
        <td>
          <input id="name" type="text" class="form-control" [formControl]="slotName">
        </td>
        <td>
          <input id="bet" type="number" class="form-control" [formControl]="slotBet">
        </td>
        <td>
          <input id="maxWin" type="number" class="form-control" [formControl]="slotMaxWin">
        </td>
    </tr>
    </tbody>
  </table>
  <button type="submit" class="btn" (click)="addSlot()">Add Slot</button>
</div>

<div class="widget-container">
  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="name">#</th>
      <th mat-sort-header="calories">Name</th>
      <th mat-sort-header="fat">Einsatz</th>
      <th mat-sort-header="carbs">Win €</th>
      <th mat-sort-header="protein">Multiplier</th>
    </tr>

    <tr *ngFor="let slot of sortedSlots | async">
      <td>{{slot.order}}</td>
      <td>{{slot.name}}</td>
      <td>{{slot.bet}}</td>
      <td>{{slot.maxWin}}</td>
      <td>{{slot.maxMultiplier}}</td>
    </tr>
  </table>
</div>-->

<div id="slots-table" class="widget-container">
  <div class="stats-overview">
    <h3>Statistiken</h3>
    <div class="stat">
      <div class="stat-title">
        <mat-icon aria-hidden="false" aria-label="Example home icon">average</mat-icon>
      </div>
      <div class="stat-data">

      </div>
    </div>
  </div>

  <table mat-table [dataSource]="slots" matSort (matSortChange)="announceSortChange($event)"
         class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name" style="width: 50%">
        Name
      </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="bet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"
          style="width: 10%;text-align: right">
        Einsatz
      </th>
      <td mat-cell *matCellDef="let element"
          style="text-align: right; padding-right:20px;"> {{element.bet | number : '1.2-2'}} €
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="maxWin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"
          style="width: 10%;text-align: right">
        Win
      </th>
      <td mat-cell *matCellDef="let element"
          style="text-align: right; padding-right:20px;"> {{element.maxWin | number : '1.2-2'}} €
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="maxX">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"
          style="width: 10%;text-align: right">
        Multiplier
      </th>
      <td mat-cell *matCellDef="let element"
          style="text-align: right; padding-right:20px;"> {{element.maxMultiplier | number : '1.2-2'}}x
      </td>
    </ng-container>

    <ng-container matColumnDef="trash">
      <th mat-header-cell *matHeaderCellDef
          style="width: 10%;text-align: right">
      </th>
      <td mat-cell *matCellDef="let element"
          style="text-align: right; padding-right:20px;">
        <mat-icon (click)="delete(element.id)">delete_forever</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="widget-container">
  <label for="name">SlotName</label>
  <input id="name" type="text" class="form-control" [formControl]="slotName">
  <label for="bet">Einsatz</label>
  <input id="bet" type="number" class="form-control" [formControl]="slotBet">
  <label for="maxWin">Win</label>
  <input id="maxWin" type="number" class="form-control" [formControl]="slotMaxWin">
  <button type="submit" class="btn" (click)="addSlot()">Add Slot</button>
</div>


