<div class="flex justify-start items-center mb-4">
    <h1 class="text-4xl font-bold text-white mr-6">Slots</h1>
    <button mat-mini-fab (click)="addSlot()" color="primary">
        <mat-icon fontIcon="add"></mat-icon>
    </button>
</div>
<div class="mat-elevation-z8">
    <mat-form-field class="w-full">
        <mat-label>Suche</mat-label>
        <input matInput type="text" (keyup)="applyFilter($event)"/>
    </mat-form-field>
    
    <mat-table [dataSource]="dataSource" matSort>
        <!-- name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Slot</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
        </ng-container>

         <!-- bet Column -->
         <ng-container matColumnDef="bet">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Einsatz</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.bet | currency:'EUR':'symbol':'1.2-2' }} </mat-cell>
        </ng-container>
    
        <!-- maxWin Column -->
        <ng-container matColumnDef="maxWin">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Max Win</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.maxWin | currency:'EUR':'symbol':'1.2-2' }} </mat-cell>
        </ng-container>
    
        <!-- maxMultiplier Column -->
        <ng-container matColumnDef="maxMultiplier">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Multiplier</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.maxMultiplier | number: '1.0-0' }}x </mat-cell>
        </ng-container>
        <!-- edit Column -->
        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row"> <button (click)="editSlot(row)"><mat-icon aria-hidden="false" fontIcon="edit"></mat-icon></button> </mat-cell>
        </ng-container>
    
        <mat-header-row class=" !text-xl" *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row class=" !text-lg" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
