

<div class="widget-container">

</div>


<ng-container *ngIf="this.slots.length > 0">
<div class="widget-container">
  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="name">#</th>
      <th mat-sort-header="calories">Name</th>
      <th mat-sort-header="fat">Einsatz</th>
      <th mat-sort-header="carbs">Win €</th>
      <th mat-sort-header="protein">Multiplier</th>
    </tr>

    <tr *ngFor="let slot of sortedSlots | async">
      <td>{{slot.order}}</td>
      <td>{{slot.name}}</td>
      <td>{{slot.bet}}</td>
      <td>{{slot.maxWin}}</td>
      <td>{{slot.maxMultiplier}}</td>
    </tr>
  </table>
</div>
</ng-container>
<ng-container *ngIf="this.slots.length > 0">
<div class="widget-container">
  <div class="table-header">
    Bonus Hunt #1
  </div>
  <table class="table">
    <thead>
    <td>#</td>
    <td>Slot</td>
    <td>Einsatz</td>
    <td>Max. Win €</td>
    <td>Max. X</td>
    </thead>
    <tbody>
    <ng-container *ngFor="let slot of slots | async">
      <tr>
        <td>{{ slot.order }}</td>
        <td>{{ slot.name }}</td>
        <td>{{ slot.bet }} €</td>
        <td>{{ slot.maxWin }} €</td>
        <td>{{ slot.maxMultiplier }}x</td>
        <td>
          <button (click)="delete(slot.id)">müll</button>
        </td>
      </tr>
    </ng-container>
    <tr>
      <td>Stats</td>
      <td>{{ stats.bonusCount }}</td>
      <td></td>
      <td>{{ stats.wins }}</td>
      <td>Avg. X</td>
    </tr>
    </tbody>
  </table>

  <div class="add-form">
    <div class="add-form-row">
      <div class="add-form-row-label">
        Slotname
      </div>
      <input type="text" class="form-control" [formControl]="slotName">
    </div>
    <div class="add-form-row">
      <div class="add-form-row-label">
        Einsatz
      </div>
      <input type="number" class="form-control" [formControl]="slotBet">
    </div>
    <div class="add-form-row">
      <div class="add-form-row-label">
        Win
      </div>
      <input type="number" class="form-control" [formControl]="slotMaxWin">
    </div>
  </div>
  <button type="submit" class="btn" (click)="addSlot()">Add Slot</button>
</div>

</ng-container>
