$color-darkest-teal: #205a5e;
$color-dark-teal: #32787D;
$color-light-teal: #4ca2a8;

$color-darkest-grey: #2d2d2d;
$color-dark-grey: #3d3d3d;
$color-light-grey: #777777;
$color-lighter-grey: #adadad;
